.beta-banner {
    background-color: #f0f535;
    color: #343a40;
    text-align: center;
    padding: .75em 0;
}

.user-profile .avatar {
    width: 140px;
}

#delete-form {
    display: inline;
}

/**
 ** MAIN
 */

body {
    background-color: #343a40;
}

.site-body {
    background-color: #ffffff;
}

.site-footer {
    background-color: #343a40;
    color: rgba(255,255,255,.5);
}

/**
 ** BUTTON
 */

.btn-primary {
    background-color: #6dc6d6;
    color: #1e4daf;
    border-color: #6dc6d6;
}

.btn-primary:hover {
    background-color: #7cdbeb;
    color: #1e4daf;
    border-color: #7cdbeb;
}

.btn-secondary {
    background-color: #6a4cf4;
    color: #f6f6f6;
    border-color: #6a4cf4;
}

.btn-secondary:hover {
    background-color: #8175fa;
    color: #f6f6f6;
    border-color: #8175fa;
}

.btn-warning {
    background-color: #f0f535;
    color: #343a40;
    border-color: #f0f535;
}

.btn-warning:hover {
    background-color: #f4f463;
    color: #343a40;
    border-color: #f4f463;
}

.btn-danger {
    background-color: #f53e59;
    color: #f6f6f6;
    border-color: #f53e59;
}

.btn-danger:hover {
    background-color: #f9635c;
    color: #f6f6f6;
    border-color: #f9635c;
}

/**
 ** CUSTOM BUTTON **
 */



/**
 ** TRICK VIEW **
 */

.trick-header {
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.trick-header-content {
    padding: 10em 2em;
}

.trick-header-content h2 {
    color: #f6f6f6;
    margin: unset;
    font-weight: bolder;
}

.trick-navigation {
    float: right;
    position: relative;
    top: .5em;
    right: .5em;
}

.trick-metadata > ul {
    background-color: #1e4daf;
    color: #f6f6f6;
}

.trick-metadata p,
.trick-footer {
    font-size: 12px;
}

.trick-medias button,
.trick-comments button {
    display: block;
    margin: 0 auto 1em;
}

.trick-comments .card {
    color: #f6f6f6;
    background-color: #1e4daf;
}

.trick-comments form textarea {
    color: #f6f6f6;
    background-color: #306bba;
    border-color: #1e4daf;
}

.trick-comments form textarea:focus {
    color: #f6f6f6;
    background-color: #3378cb;
}

.trick-comments form .text-muted {
    color: #f6f6f6 !important;
}

.trick-comments .avatar-thumbnail {
    position: relative;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;
}

.trick-comments .avatar-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
}

.comments-content p {
    background-color: #cccccc;
    color: #5e5b5a;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.comments-content::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    top: 20%;
    left: 3px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 14px solid #cccccc;
}

/**
 ** HOME **
 */

.home .card-deck,
.social .card-deck {
    justify-content: center;
}

.home .card,
.social .card {
    border: none;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

.home .card {
    height: 480px;
    overflow: hidden;
}

.home .card-img-overlay {
}

.welcome hr,
.home hr,
.social hr {
    width: 50px;
    height: 3px;
    margin: 20px auto;
    border: 0;
}

.welcome hr { background-color: #f0f535; }
.home hr { background-color: #f0f535; }
.social hr { background-color: #6a4cf4; }

.home h3,
.social h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

.home h3, .home .card-text { color: #f6f6f6; }

.home .card-text,
.social .card-text {
    font-size: 0.8em;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    line-height: 18px;
}

.home .content-main {
    z-index: 30;
}

.home .utility {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
}

.home .utility li {
    color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
}

.home .utility li span {
    color: #f0f535;
    /*color: #f53e59;*/
}

.social .card-body > span {
    color: #6a4cf4;
}

.content-overlay {
    width: 100%;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 320px 50px 0;
    font-family: 'Droid Serif', serif;
    line-height: 24px;
    z-index: 20;
    opacity: 0;
    transition: padding-top .3s, opacity .3s cubic-bezier(.33,.66,.66,1);
}

.color-overlay {
    /* Rectangle 11: */
    background: rgba(84,104,110,0.3);
    width: 100%;
    height: 480px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: background .3s cubic-bezier(.33,.66,.66,1);
}

.gradient-overlay {
    /* bg-gradient: */
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
    background-image: -moz-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
    background-image: -o-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
    background-image: linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
    width: 100%;
    height: 480px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
}

.content-overlay:hover {
    opacity: 1;
    padding: 200px 50px 0;
}

.color-overlay:hover {
    background: rgba(84,104,110,0.8);
}

.welcome {
    width: 100%;
    height: 440px;
    text-align: center;
    background-image: url("images/home-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.welcome div {
    width: 70%;
    margin: 0 auto;
    padding: 10% 0 0;
}

.welcome h2,
.home h2,
.social h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 2px;
}

.welcome p {
    font-family: 'Droid Serif', serif;
    line-height: 24px;
}