{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<section class="dashboard mt-3">
    <h2>Dashboard</h2>
    <h4>Snowtricks contributors</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Tricks written</th>
            <th scope="col">Comments posted</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.tricks.count }}</td>
                <td>{{ user.comments.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock body %}