<form action="{{ url('delete_figure', {id: figure.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-sm btn-danger">
        <span class="far fa-trash-alt" aria-hidden="true"></span> Delete
    </button>
</form>