{% extends 'base.html.twig' %}

{% block title %}Edit a Trick{% endblock %}

{% block body %}
    <h2>Edit a Trick</h2>
    {% block form %}{{ include('figures/form.html.twig') }}{% endblock %}
{% endblock %}
