{% extends 'base.html.twig' %}

{% block body %}

<h2>All our Figures</h2>

    {% if figures %}
        <ul class="list-group">
        {% for figure in figures %}
            <li class="list-group-item">
                <a href="{{ path('view_figure', {slug: figure.slug}) }}">{{ figure.name }}</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-warning btn-sm" href="{{ path('edit_figure', {id: figure.id}) }}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{{ path('delete_figure', {id: figure.id}) }}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No figures yet</p>
    {% endif %}

{% endblock %}