{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ figure.name }}</h2>
    <p>{{ figure.description }}</p>

    <ul>
        <li>
            <a href="{{ path('index_figure') }}">Back</a>
        </li>
    </ul>

{% endblock %}

