{% extends 'base.html.twig' %}

{% block title %}Internal error - Error 500{% endblock %}

{% block body %}
    <h1>Internal error</h1>

    <p>
        Sorry, it's me. Not you. :(
    </p>
{% endblock %}