{% extends 'base.html.twig' %}

{% block title %}Add a new Trick{% endblock %}

{% block body %}
    <h2>Add a new Trick</h2>
    {% block form %}{{ include('trick/_form.html.twig') }}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/add-collection-widget.js') }}"></script>
{% endblock %}