{% extends 'base.html.twig' %}
{% block title %}Account validation error{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger">
            <span class="fas fa-exclamation-triangle" aria-hidden="true"></span>
            Account validation error: Invalid token.
        </div>
    </div>
{% endblock body %}